{% extends "page_sidebar.html" %}

{% block content %}
  <!-- <div id="full-width"> -->
    <div id="content">

    {% for post in object_list %}
      <div class="blog-post-wide">
        <h1><a href="{{ post.get_absolute_url }}">{{ post.name }}</a></h1>
        <div class="double-hr"></div>
        <div class="post-info">
          <ul>
            <li><a href="#">{{ post.date }}</a></li>
            <li class="post-info-comments"><a href="#">23 Comments </a></li>
          </ul>
        </div>
      
        <p> {{ post.text|safe|truncatewords:20}} <br><a href="{{ post.get_absolute_url }}" class="read-more"> Читать полностью....</a> </p>
      </div>
       {% empty %}
    <p>Нет постов</p>
    {% endfor %}
    <!-- </div> -->
  <!-- </div> -->
    </div>
    {% endblock content %}
   
