{% extends "page_sidebar.html" %}
<h1>БЛАБЛАБАЛ</h1>
{% block sidebar %}

    <div class="sidebar">
      <div class="sidebar-box">
        <h4>Our Projects</h4>
        <div class="double-hr"></div>
        <ul id="sidebar-projects">
          <li><a href="#"><img  alt="" src="images/tumb.jpg" class="shadow-frame" /></a></li>
          <li><a href="#"><img  alt="" src="images/tumb9.jpg" class="shadow-frame" /></a></li>
          <li><a href="#"><img  alt="" src="images/tumb3.jpg" class="shadow-frame" /></a></li>
          <li><a href="#"><img  alt="" src="images/tumb7.jpg" class="shadow-frame" /></a></li>
        </ul>
      </div>
      <div class="sidebar-box">
        <h4>Categories</h4>
        <div class="double-hr"></div>
        <ul>
          <li><a href="#">Market Research</a></li>
          <li><a href="#">Business Planning</a></li>
          <li><a href="#">Presentation</a></li>
          <li><a href="#">Productivity</a></li>
          <li><a href="#">Your Career</a></li>
          <li><a href="#">General</a></li>
        </ul>
      </div>
      <div class="sidebar-box">
        <h4>Newsletter</h4>
        <div class="double-hr"></div>
        <p>Please Enter your email to sign up for our newsletter</p>
        <input type="text" />
        <a class="button-small"><span>Sign Up</span></a> </div>
    </div>
    {% endblock %}