{% extends "base.html" %}


{% block page %}
  <div id="page-title">
    <div id="page-title-shadow"></div>

    <div id="page-title-shadow-bottom"></div>
  </div>
  <div id="content-container" class="center">

   



{% block content %}

<!--     <div id="content">
   
     <div class="blog-post">
        <h1><a href="">{{object.name}}</a></h1>
        <div class="double-hr"></div>
        {{object.text}}
      </div>

 
    </div> -->


      
      {% endblock content%}



  </div>

   



    {% endblock page %}