{% extends "photologue/root.html" %}

{% load photologue_tags %}


{% block content %}

    <div id="portfolio-preview-container"><div id="portfolio-preview"><div>			

<form action="" method="post" id="submit_form">{% csrf_token %}

    <div class="contact_form_input">
       
        <label for="id_subject"><h6>Ваше имя:</h6></label>
        {{ form.name }}
    {% if form.name.errors %}
          <div class="question_icon"></div>
          {% endif %}
    </div>
    <div class="contact_form_input">
       
        <label for="id_message"><h6>Телефон:</h6></label>
        {{ form.phone }}   {% if form.phone.errors %}
          <div class="question_icon"></div>
          {% endif %}
    </div>
    <div class="contact_form_input">
        
        <label for="id_sender"><h6>E-mail:</h6></label>
        {{ form.email }}   {% if form.email.errors %}
          <div class="question_icon"></div>
          {% endif %}
    </div>
    <div class="contact_form_input">
        <h6>
  
        {{ form.delivery }}</h6>
    </div>

       <div class="contact_form_input" id = "address_div">
        <label for="id_sender"><h6>Полный почтовый адрес:</h6></label>
        
  
        {{ form.address }}   {% if form.address.errors %}
          <div class="question_icon"></div>
          {% endif %}
    </div>

{% if opt %}

{% for list in opt %}

<div class="contact_form_input" id = "extra{{ forloop.counter }}">

<select>

{% for option in list %}
  <option value="{{ option }}">{{ option }}</option>
{% endfor %}

</select> 
<br>        
  
   
    </div>
{% endfor %}



{% endif %}
 <input type="hidden" name="extra_field" value="" id="id_extra_field" />

    <input type="hidden" name="merchandise_id" value="{{item.name}}" id="id_merchandise_id" />

    <input type="hidden" name="photo_id" value="{{id}}" id="id_photo_id" />

    {% if form.errors %}
          <div class="error_box"><b> <ul class="errorlist">
  {% if form.non_field_errors %}
    <li>{{ form.non_field_errors }}</li>
  {% endif %}
  {% for field in form %}
    {% if field.errors %}
      <li>
        {{ field.label }}:
        <ul class="errorlist">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul></div>
          {% endif %}
<br>
     <a href="" class="button" id="send_button"><span>{% if edit %} Сохранить изменения {% else %} Заказать {% endif %}</span></a>
    
</form>

			</div>
			</div>

<div class="sidebar">
<div class="sidebar-box">

    <div class="pricing-box three-columns">
          <h4><span>{{item.name}} "{{photo.title}}"</span></h4>
          <img src="{{ photo.get_shop_url }}" alt="" class="shadow-frame">
          <span class="price"> {{item.price}} рублей</span> <br>
         </div>
</div>
 
</div>
</div>
<script>

$( document ).ready(function() {
var extra_field = $("select option:selected").map(function() { return this.value; })
                                   .get().join(', ');
                                   console.log(extra_field)

$('#id_extra_field').val(extra_field)

});

</script>

  {% endblock %}