      <div class="tabs-container">
        <ul class="tabs ">
          <li class="w3"><a href="#"><span class="tabbs">Купить рисунок</span></a></li>
          <li class="w3"><a href="#"><span class="tabbs">Купить футболку</span></a></li>
        </ul>

        <div class="panes">
          <div>
            <p><h3>Вы всегда можете купить у меня рисунки.</h3> <ul class="bullet_arrow_3" style="margin-left: 20px;"><li>Цена рисунка - N рублей.</li><li> Оплата - через киви-кошелек или робокассу.</li><li> Доставка - почтой России (+50 рублей). </li><li>Если Вы находитесь в Москве, Вы можете подъехать на метро Теплый Стан и забрать рисунок у меня лично по предварительной договоренности.  </li></ul>

              <br>
              <h3>Как заказать:</h3>
              По <a href="{{root}}/gallery/albums/sale">этой ссылке</a> - все рисунки, оригиналы которых продаются. Выберите рисунок, справа Вы увидите ссылку "Купить оригинал". Выберите способ оплаты, заполните форму.


            </p>
          </div>
          <div>
           <p><h3>Заказать футболку</h3>
            <ul class="bullet_arrow_3 " style="margin-left: 20px;"><li>Цена футболки - N рублей.</li><li> Оплата - через киви-кошелек или робокассу.</li><li> Доставка - почтой России (+50 рублей). </li><li>Если Вы находитесь в Москве, Вы можете подъехать на метро Теплый Стан и забрать рисунок у меня лично по предварительной договоренности.  </li></ul><br>
            <h3>Как заказать:</h3>
            Чтобы заказать футболку, выберите любой рисунок из <a href="{{root}}/gallery/albums/all">галереи</a>. Справа вы увидите ссылку "заказать футболку".

</p>
          </div>
        </div>
        </div>